@model SportsWebPt.Platform.Web.Application.ResearchViewModel
@{
    Model.AreaBundles.Add("~/bundles/researchapplib");
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
}

<div>
    <span aria-hidden="true" data-icon="&#xe021;" class="header-icon"> Research</span>
</div>

<div class="container content-container-panel" id="research-main-panel">
    
    <div class="view container" id="research-nav-panel">
        <div class="row text-center">
            <div class="col-md-3">
                <span aria-hidden="true" data-icon="&#xf0fa;" class="research-nav-icon"></span>
                <h3>Injuries</h3>
                <p>Use our self examination wizard designed by professionals to pin point your injury.</p>
            </div>
            <div class="col-md-3">
                <span aria-hidden="true" data-icon="&#xe001;" class="research-nav-icon"></span>
                <h3>Rehab Plans</h3>
                <p>Organize your own recovery using pre-configured  plans for common injuries. Get feedback and advice from professionals to augment you plan based on your progression </p>
            </div>
            <div class="col-md-3">
                <span aria-hidden="true" data-icon="&#xe007;" class="research-nav-icon"></span>
                <h3>Exercises</h3>
                <p>Documents, videos and links organized by professionals to address specific injuries saving you time and increasing your confidence</p>
            </div>
            <div class="col-md-3">
                <span aria-hidden="true" data-icon="&#xe051;" class="research-nav-icon"></span>
                <h3>PT Clinics</h3>
                <p>Setup one on one video conferences with our licensed therapists to further diagnosis injuries, assist with exercises or evaluate progression.</p>
            </div>
        </div>
        <div class="row text-center push-down-md" >
            <div class="col-md-3">
                <p><a class="btn btn-default" href="#injuries">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <p><a class="btn btn-default" href="#plans">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <p><a class="btn btn-default" href="#exercises">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <p><a class="btn btn-default" href="#locate">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="view container" id="research-injury-panel">
        <div class="container">
            <span aria-hidden="true" data-icon="&#xf0fa;" class="research-header-icon"> Injuries</span>
            <hr class="examine-report-hr"/>
            <div class="row">
                <div class="col-md-3 research-vertical-splitter" >
                    <div class="container">
                        <h3>Body Regions</h3>
                        <a class="label-filter-hover"><span class="label label-danger" data-bind="click: onReset.bind($data,'bodyregion')">Show All</span></a>
                        <ul class="list-no-style filter-container" data-bind="foreach: bodyRegions">
                            <li class="filter-label">
                                <a><span class="label label-info" data-bind="text: name, click: $parent.onBodyRegionFilter"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="container">
                        <h3>Signs</h3>
                        <a class="label-filter-hover"><span class="label label-danger" data-bind="click: onReset.bind($data,'sign')">Show All</span></a>
                        <ul class="list-no-style filter-container" data-bind="foreach: signs">
                            <li class="filter-label">
                                <a><span class="label label-info" data-bind="text: description, click: $parent.onSignFilter"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel-group" id="recover-injury-accordion">
                        <section data-bind="template: { name: briefInjuryTemplate, foreach: filteredInjuries }"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="view container" id="research-locate-panel">
        <div class="container">
            <span aria-hidden="true" data-icon="&#xe051;" class="research-header-icon"> Locate</span>
            <hr class="examine-report-hr"/>
            <div class="row">
                <div class="col-md-2">
                    <input type="text" class="form-control" id="inputZipcode" name="commonZipcode" data-bind="value: zipcode"  placeholder="Zipcode">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" data-bind="click:onSearchSubmit">Search for Clinics</button>
                </div>
            </div>
            <div>
                <h3>Clinics</h3>
                <table class="table table-striped">
                    <tbody data-bind="foreach: clinics">
                        <tr>
                            <td>
                                <div>
                                      <h2><span data-bind="text: name"></span></h2>
                                        <img data-bind="attr: { src: image_url}" />
                                        <a data-bind="attr: { href:url}" target="_blank">Listing on Yelp.com</a>    


@*    <div class="display-label">mobile_url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mobile_url)
    </div>

    <div class="display-label">phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">display_phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.display_phone)
    </div>

    <div class="display-label">review_count</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.review_count)
    </div>

    <div class="display-label">distance</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.distance)
    </div>

    <div class="display-label">rating</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating)
    </div>

    <div class="display-label">rating_img_url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating_img_url)
    </div>

    <div class="display-label">rating_img_url_small</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating_img_url_small)
    </div>

    <div class="display-label">rating_img_url_large</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating_img_url_large)
    </div>

    <div class="display-label">snippet_text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.snippet_text)
    </div>

    <div class="display-label">snippet_image_url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.snippet_image_url)
    </div>

    <div class="display-label">is_claimed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.is_claimed)
    </div>


    <div class="display-label">is_closed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.is_closed)
    </div>  *@
                                </div>
                            </td>
                        </tr>
                    </tbody>            
                </table>

            </div>
        </div>
    </div>


    
    <div class="view container" id="research-exercise-panel">
        <div class="container">
            <span aria-hidden="true" data-icon="&#xe007;" class="research-header-icon"> Exercises</span>
            <hr class="examine-report-hr"/>
            <div class="row">
                <div class="col-md-3 research-vertical-splitter" >
                    <h3>Body Regions</h3>
                    <a class="label-filter-hover"><span class="label label-danger" data-bind="click: onReset">Show All</span></a>
                    <ul class="list-no-style filter-container" data-bind="foreach: bodyRegions">
                        <li class="filter-label">
                            <a><span class="label label-info" data-bind="text: name, click: $parent.onFilterSelect"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="panel-group" id="recover-exercise-accordion">
                        <section data-bind="template: { name: briefExerciseTemplate, foreach: filteredExercises }"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="view container" id="research-plan-panel">
        <div class="container">
            <span aria-hidden="true" data-icon="&#xe001;" class="research-header-icon"> Plans</span>
            <hr class="examine-report-hr"/>
            <div class="row">
                <div class="col-md-3 research-vertical-splitter" >
                    <div class="container">
                        <h3>Body Regions</h3>
                        <a class="label-filter-hover"><span class="label label-danger" data-bind="click: onReset.bind($data,'bodyregion')">Show All</span></a>
                        <ul class="list-no-style filter-container" data-bind="foreach: bodyRegions">
                            <li class="filter-label">
                                <a><span class="label label-info" data-bind="text: name, click: $parent.onBodyRegionFilter"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="container">
                        <h3>Categories</h3>
                        <a class="label-filter-hover"><span class="label label-danger" data-bind="click: onReset.bind($data,'category')">Show All</span></a>
                            <ul class="list-no-style filter-container" data-bind="foreach: categories">
                                <li class="filter-label">
                                    <a><span class="label label-info" data-bind="text: $data, click: $parent.onCategoryFilter"></span></a>
                                </li>
                            </ul>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="panel-group" id="recover-plan-accordion">
                        <section data-bind="template: { name: briefPlanTemplate, foreach: filteredPlans }"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
