<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sports Web Pt</title>
    
    @Styles.Render("~/content/kendo/bundle")
    @Styles.Render("~/content/theme/css/appstrap")
    @Styles.Render("~/Content/css")
</head>
    <body>
        @{Html.RenderPartial("/Views/Shared/_noAuthHeader.cshtml"); }
        <div class="container body-content">
            @RenderBody()
        </div>
        @{Html.RenderPartial("/Views/Shared/_masterFooter-r.cshtml"); }
        
        @Scripts.Render(
            "~/bundles/jquery",
            "~/bundles/jsextlibs")   
    </body>
</html>
