<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sports Web Pt</title>
    
    @Styles.Render("~/content/kendo/bundle")
    @Styles.Render("~/content/theme/css/appstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body ng-app="swptApp">
    @{Html.RenderPartial("/Views/Shared/_noAuthHeader.cshtml"); }
    <div class="container body-content">
        @RenderBody()
    </div>
    <master-footer></master-footer>

    @Scripts.Render(
            "~/bundles/jquery",
            "~/bundles/jslibs")

    @Scripts.Render(
            "~/bundles/angular",
            "~/bundles/angularApp")

</body>
</html>
