@using System.Web.Optimization
@using SportsWebPt.Platform.Web.Application
@model BaseViewModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content="@Model.Tags">
        <title>SportsWebPT - @Model.Title</title>
        <script type="text/javascript" src="//cdn.sublimevideo.net/js/jkmwb037.js"></script>
        <script type="text/javascript" src="http://www.swarminteractive.com/js/vm.js"></script>
        @Styles.Render("~/Content/css")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/scripts/libs/html5shiv.js"></script>
      <script src="~/scripts/libs/respond.min.js"></script>
    <![endif]-->        
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body id="body-content">
        <div id="busyindicator"></div>

        <input type="hidden" id="userid" value="@Model.User.id"/>
        <input type="hidden" id="username" value="@Model.User.userName"/>
        <input type="hidden" id="userEmail" value="@Model.User.emailAddress"/>
        @{Html.RenderPartial("~/Views/Shared/_fbSDK.cshtml"); }
        @{Html.RenderPartial("~/Views/Shared/_gPlus.cshtml"); }
        @{Html.RenderPartial("~/Views/Shared/_masterHeader.cshtml"); }
        <div id="master-container" class="container">
            @RenderBody()
        </div>
        @{Html.RenderPartial("~/Views/Shared/_masterFooter.cshtml"); }
        @Html.AntiForgeryToken()

        @Scripts.Render(
            "~/bundles/jquery",
            "~/bundles/jsextlibs",
            "~/Scripts/libs/require.js",
            "~/bundles/baseapplib",
            "~/bundles/sharedapplib",
            "~/bundles/utils",
            "~/bundles/models")
        @Scripts.Render(Model.AreaBundles.ToArray())
        @Scripts.Render("~/Scripts/main.js")
    </body>
</html>

