@using System.Web.Optimization
@using SportsWebPt.Platform.Web.Application
@model BaseViewModel
<!DOCTYPE html>
<html lang="en" ng-app="swptApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="fragment" content="!">
    <title>SportsWebPT - @Model.Title</title>
    <script type="text/javascript" src="http://www.youtube.com/player_api"></script>
    <script type="text/javascript" src="http://www.swarminteractive.com/js/vm.js"></script>
    @{Html.RenderPartial("~/Views/Shared/_addThisSDK.cshtml"); }
    @Styles.Render("~/content/kendo/bundle")
    @Styles.Render("~/content/theme/css/appstrap")
    @Styles.Render("~/Content/css")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/scripts/libs/html5shiv.js"></script>
      <script src="~/scripts/libs/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="body-content">
    <input type="hidden" id="userid" value="@Model.User.id" />
    <input type="hidden" id="username" value="@Model.User.userName" />
    <input type="hidden" id="userEmail" value="@Model.User.emailAddress" />

        @RenderBody()

    @Html.AntiForgeryToken()
    @Scripts.Render(
            "~/bundles/jquery",
            "~/bundles/jslibs"
            )

    @Scripts.Render(
            "~/bundles/angular",
            "~/bundles/angularApp")
</body>
</html>


