@using System.Web.Optimization
@using SportsWebPt.Platform.Web.Application
@model BaseViewModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>SportsWebPT</title>
    
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body id="body-content">
        <div class="container">
            @{Html.RenderPartial("~/Areas/Main/Views/Shared/_masterHeader.cshtml"); }
            @RenderBody()
            @{Html.RenderPartial("~/Areas/Main/Views/Shared/_masterFooter.cshtml"); }
        </div>

        @Scripts.Render(
               "~/bundles/jquery",
               "~/bundles/jsextlibs",
               "~/Scripts/libs/require.js",
               "~/bundles/baseapplib",
               "~/bundles/sharedapplib",
               "~/bundles/utils",
               "~/bundles/models",
               "~/Scripts/main.js"               
               )
        @Scripts.Render(Model.AreaBundles.ToArray())
    </body>
</html>

