@model SportsWebPt.Platform.Web.Application.AuthFormViewModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>SportsWebPT | Authentication</title>
        @Styles.Render("~/content/kendo/bundle")
        @Styles.Render("~/content/theme/css/appstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body ng-app="swptApp" ng-controller="AuthFormController">
        @{Html.RenderPartial("~/Views/Shared/_noAuthHeader.cshtml"); }

        <div class="login-container push-down-lg" id="login-dialog">
            @{
                if (!String.IsNullOrEmpty(Model.oAuthError))
                {
                    <div class="alert alert-block alert-error fade in" id="oauth-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>We got problems... </h4>
                        <p>@Model.oAuthError</p>
                    </div>
                }
            }
            
            <div ng-show="showLogin">
                <login-dialog></login-dialog>
                <div class="top-border-header text-center">
                    <strong>
                        <a ng-click="createAccount()">create account</a>
                    </strong>
                </div>
            </div>

            <div ng-show="showSignUp">
                <sign-up-dialog></sign-up-dialog>
                <div class="top-border-header text-center">
                    <strong>
                        <a ng-click="alreadyHaveAccount()">already have an account</a>
                    </strong>
                </div>
            </div>
        </div>

        <master-footer></master-footer>
        @Html.AntiForgeryToken()

        @Scripts.Render(
            "~/bundles/jquery",
            "~/bundles/jslibs"
            )

        @Scripts.Render(
            "~/bundles/angular",
            "~/bundles/angularApp")
    </body>
</html>
