@model SportsWebPt.Platform.Web.Application.AuthFormViewModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>SportsWebPT | Authentication</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @{Html.RenderPartial("~/Views/Shared/_noAuthHeader.cshtml"); }

        <div class="login-container" id="login-dialog">
            @{
                if (!String.IsNullOrEmpty(Model.oAuthError))
                {
                    <div class="alert alert-block alert-error fade in" id="oauth-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>We got problems... </h4>
                        <p>@Model.oAuthError</p>
                    </div>
                }
            }
            @{Html.RenderPartial("~/Views/Shared/_authDialogs.cshtml"); }
        </div>

        @{Html.RenderPartial("~/Views/Shared/_masterFooter.cshtml"); }
        @Html.AntiForgeryToken()

        @Scripts.Render(
        
            "~/bundles/jquery",
            "~/bundles/jsextlibs",
            "~/Scripts/libs/require.js",
            "~/bundles/baseapplib",
            "~/bundles/sharedapplib",
            "~/bundles/utils",
            "~/bundles/models",
            "~/Scripts/auth.form.main.js"               
             )
        @Scripts.Render(Model.AreaBundles.ToArray())
    </body>
</html>
